@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: #FC7B03;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav li{
    margin-left: 7px;
}

nav li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}

.banner{
    height: 120vh;
    background: linear-gradient( rgba(110, 71, 71, 0.281), rgba(143, 81, 81, 0.308)),url(179-1795047_sunset-mountain-wallpaper-4k.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner2{
    height: 120vh;
    background: linear-gradient( rgba(110, 71, 71, 0.281), rgba(143, 81, 81, 0.308)),url(concept-art-minecraft-biome-swamp2-1024x519.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner3{
    height: 120vh;
    background: linear-gradient( rgba(110, 71, 71, 0.281), rgba(143, 81, 81, 0.308)),url(redemption.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner4{
    height: 120vh;
    background: linear-gradient( rgba(110, 71, 71, 0.281), rgba(143, 81, 81, 0.308)),url(505808493c44efbf137ea18167835c9e.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner5{
    height: 120vh;
    background: linear-gradient( rgba(110, 71, 71, 0.281), rgba(143, 81, 81, 0.308)),url(theflash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
    
.texto .titulo2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}

.texto .titulo3{
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}

.texto .titulo4{
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}

.texto .titulo5{
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}

.texto .titulo{
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}

.texto .botoes{
    margin-top: 30px;
}

.texto .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.3s;
}

.texto .botoes button.n-overlay{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);

}

.texto .botoes button.n-overlay:hover{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s; 
}

.n-overlay a{
    color: rgb(255, 255, 255);
}

.n-overlay a:hover{
    color: rgb(255, 255, 255);
}